flows.json
[{"id":"8d39666a.819c68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"991f38a.b1f1cc8","type":"inject","z":"8d39666a.819c68","name":"","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":120,"wires":[["39b148a.1fb6db8"]]},{"id":"39b148a.1fb6db8","type":"debug","z":"8d39666a.819c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":120,"wires":[]},{"id":"c098cd1f.52361","type":"ui_form","z":"8d39666a.819c68","name":"","label":"","group":"9ab58f90.602c2","order":0,"width":0,"height":0,"options":[{"label":"Enter the name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":390,"y":340,"wires":[["39b148a.1fb6db8","725a3f37.27ba"]]},{"id":"725a3f37.27ba","type":"function","z":"8d39666a.819c68","name":"","func":"msg.payload = \"Hi \"+msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":300,"wires":[["39b148a.1fb6db8","3969dd02.f2e772"]]},{"id":"3969dd02.f2e772","type":"ui_text","z":"8d39666a.819c68","group":"82af5b9a.3701e8","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":440,"wires":[]},{"id":"9ab58f90.602c2","type":"ui_group","z":"","name":"INPUT","tab":"e883fcca.5f183","order":1,"disp":true,"width":"6","collapse":false},{"id":"82af5b9a.3701e8","type":"ui_group","z":"","name":"OUTPUT","tab":"e883fcca.5f183","order":2,"disp":true,"width":"6","collapse":false},{"id":"e883fcca.5f183","type":"ui_tab","z":"","name":"TABNAME","icon":"dashboard","disabled":false,"hidden":false}]